header{
    background-color: $color3;

    .featuredimage{
        aspect-ratio: 16 / 9;
        max-width: unset;
        width: 100%;
        object-fit: cover;
        object-position: center center;

        max-height: 50vh;
    }
}