nav{
  &.navbar{
    .navbar-brand{
      img{
        max-width: 3em;
      }
    }

    .nav-link{
      color: $color1;

      &:hover{
        color: $colorci;
      }

      &.active{
        color: $colorci;
      }
    }
  }
}