/*Templatefonts*/

$font-main:						'';
$font-bold:						'';
$font-light:					'';
$font-headliner:				'';

$font-base:                     var(--font-base);


/*Paddings*/

$vmaxpadding:                   8vmax;

/*Styles*/

$border-radius:                 0px;

/*Colors*/
$colorci:                      var(--ci-color);

$color1:                       var(--dark-color);
$color2:                       var(--light-color);
$color3:                       var(--mid-color);


/*Box Shadows*/
$shadow1:                       20px 20px 30px rgba(68, 68, 68, 0.16);
$shadow2:                       0px 3px 6px rgba(68, 68, 68, 0.16);


/*Transitions*/

$transition1:                   all .5s ease;

//Make sure to set these up in order to give ROOT Colors, gets overwritten by Costumizer

:root {
    --font-base: 16px;

    --ci-color: blue;
    --dark-color: #000000;
    --mid-color: #f4f4f4;
    --light-color: #ffffff;
}
